<!DOCTYPE html>
<html lang="fr">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="keywords" content="" />
	<link href="img/favicon.png" type="image/png" rel="icon" />
	<title>Agenda : DEVFEST LILLE 2019</title>

	<link href="css/main.css" rel="stylesheet" media="all" />
	<link href="css/queries.css" rel="stylesheet" media="all" />
	<!--script src="js/k-load.js"></script-->

	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

	<!-- GOOGLE ANALYTICS -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-124200391-2"></script>
	<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());
	gtag('config', 'UA-124200391-2');
	</script>
</head>

<body>

	<div id="container">

		<!-- PAGE HEADER -->
		<header>
			<h1 class="p-name">
				<!--picture>
          <source srcset="img/logo-big.svg" media="(min-width: 1000px)" />
					<img src="img/logo.svg" alt="Devfest Lille 2019" />
				</picture-->
					<a href="index.html"><img src="img/logo.svg" alt="Devfest Lille 2019" /></a>
			</h1>

			<p><time class="dt-start" datetime="2019-06-14">14 juin 2019</time>
				<span class="p-location">Kinépolis</span></p>
		</header>

		<nav class="main-nav">
			<h2 class="k-skip"><a href="#wrapper">Navigation (Sauter)</a></h2>
			<ul>
				<li><a href="index.html">Accueil</a></li>
				<li><a href="speakers.html">Acteurs</a></li>
				<li><a href="agenda.html" aria-current="page">Agenda</a></li>
			</ul>
		</nav>

		<div id="wrapper">
			<main>
				<p class="decor"><img src="img/agenda.svg" alt="" /></p>

				<h2>L'Agenda</h2>

				<div class="loader"
					 v-if="isLoading">
				</div>

				<div class="agenda"
					 v-else>
					<section class="hour"
							 :key="`h${hour}`"
							 v-for="(talks, hour) in groupedTalks">
						<h3 :id="`h${hour}`">
							{{ hour }}
							<a :href="`https://devfest.gdglille.org/agenda.html#h${hour}`">
								<img src="img/link.svg" alt="" />
							</a>
						</h3>
						<div class="content"
							 v-if="talks[0].id.startsWith('break')">
							<p>Pause</p>
						</div>
						<div class="content"
							v-else>
							<dl :key="`talk_${talk.id}`"
								v-for="talk in talks">
								<dt>{{ rooms[talk.room] }}</dt>
								<dd>{{ talk.title }}</dd>
								<dd>{{ talk.speakers.join(' & ') }}</dd>
							</dl>
						</div>
					</section>
				</div>
			</main>
		</div>

		<hr />
		<footer>
			<div class="content">
				<dl class="h-event">
					<dt class="p-name">Devfest Lille 2019</dt>
					<dd class="p-summary">Une journée de
						conférences, de code labs et d'échanges	sur les sujets du web, du mobile, du cloud et
						des technologies Google.</dd>
					<dd><time class="dt-start" datetime="2019-06-14">14 juin 2019</time></dd>
					<dd><a href="#" class="p-location">Kinépolis Lomme</a></dd>
				</dl>
				<ul class="links-list">
					<li><a href="speakers.html" lang="en">Acteurs</a></li>
					<!--li><a href="agenda.html">Agenda</a></li-->
					<li><a href="mailto:contact@gdglille.org">Contactez-nous</a></li>
					<li><a href="faq.html">FAQ</a></li>
					<li><a href="code-conduite.html">Code de conduite</a></li>
					<li><a href="https://devfest-2018.gdglille.org/">Saison 2/ 2018</a></li>
					<li><a href="https://devfest-2017.gdglille.org/">Saison 1/ 2017</a></li>
				</ul>
			</div>
			<ul class="sm-list">
				<li class="show-icons"><a href="https://twitter.com/gdglille/"><img src="img/twitter.svg" alt="Twitter" /></a></li>
				<li class="show-icons"><a href="https://www.linkedin.com/company/gdg-lille/"><img src="img/linkedin.svg" alt="LinkedIn" /></a></li>
			</ul>
	    <p class="copyright">GDG Lille, 2019</p>
    </footer>

	</div> <!-- /container -->

	<script>

	const app = new Vue({
		el: '#wrapper',
		data() {
			return {
				isLoading: false,
				rooms: {
					'room-1': 'Salle 1',
					'room-2': 'Salle 2',
					'room-3': 'Salle 3',
					'room-4': 'Salle 4',
				},
				groupedTalks: {}
			};
		},
		created() {
			this.getTalks();
		},
		methods: {
			getTalks() {
				this.isLoading = true;

				axios.get('https://us-central1-cms-devfest.cloudfunctions.net/findAllActiveTalks?editionId=VBsJyBiyXwaM1GsDzxP7')
						.then(res => res.data)
						.then(talks => {
							// Add breaks
							talks['break-1'] = { hour: '10:50' };

							// Manage ID
							Object.keys(talks).forEach(talkId => talks[talkId].id = talkId);

							// Grouping by hour
							const unorderedTalks = Object.values(talks).reduce((talks, talk) => {
								if(talks[talk.hour] === undefined) {
									talks[talk.hour] = [];
								}

								talks[talk.hour].push(talk);
								return talks;
							}, {});

							// Sorting by hour and room
							Object.keys(unorderedTalks).sort().forEach(hour => {
								this.groupedTalks[hour] = unorderedTalks[hour];
								this.groupedTalks[hour].sort((t1, t2) => t1.room.localeCompare(t2.room));
							});
						})
						.catch(err => console.error(err))
						.finally(() => this.isLoading = false);
			}
		}
	})
	</script>

</body>
</html>
